<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script><style>
        [contenteditable].single-line {
            white-space: nowrap;
            width: 200px;
            overflow: hidden;
        }
    </style>
    <script>
        function deletePage(locator_id, dom) {
            $.ajax({
                url: "/locator/" + locator_id,
                method: "delete",
                data: locator_id,
                success: function (result,status,xhr) {
                    if (xhr.status == 204){
                        alert("Delete success!!");
                        $(dom.parentNode.parentNode).remove();
                    }
                    if (xhr.status == 226){
                        alert("Still using!!")
                    }
                },
                error: function (xhr,status,error) {
                    console.log(error)
                }
            })
        }

        function createPage() {
            name = $("input#name").value();
            locatorObj = [];
            locatorObj['name'] = name;
            $.ajax({
                url: "/locator",
                method: "post",
                data: locatorObj,
                success: function (data) {
                },
                error: function (data) {
                    console.log(data)
                }
            })
        }

        function modify(e, locatorId, dom) {
            if (e.keyCode === 13) {
                name = $(dom).text();
                locator = new FormData();
                locator.append('name',name);
                $.ajax({
                    url: "/locator/" + locatorId,
                    method: "put",
                    data: {
                        'name': name
                    },
                    success: function (data) {
                        $(dom).text(data['name'])
                    },
                    error: function (data) {
                        console.log(data)
                    }
                });
                return false;
            }

        }
        window.onload = function () {
            $("#locator_menu").addClass("active")
        };



    </script>
</head>

<body>

<div th:replace="nav :: nav"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div>
                <h2>Pages List</h2>
                <table id="customersTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th colspan="2">OPERATION</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="locator : ${locators}">
                        <td th:id="${locator.id}" th:text="${locator.id}">id</td>
                        <td>
                            <div style="min-width: 10px; min-height: 20px" class="single-line" contenteditable="true"
                                 th:text="${locator.name}"
                                 th:onkeydown="'modify(event, \'' + ${locator.id} + '\',this);'">
                            </div>
                        </td>
                        <td>
                            <a class="btn btn-default" th:onclick="'deletePage(\'' + ${locator.id} + '\',this);'">delete</a>
                        </td>
                    </tr>
                    </tbody>

                </table>

            </div>
            <div>
                <form method="post" th:action="@{/locator}" th:object="${locator}" class="form-inline">
                    <div class="form-group">
                            <label for="usr">Add Locator:</label>
                            <input type="text" class="form-control" id="usr"
                                   th:field="*{name}" placeholder="input locator name"/>
                        <button class="btn btn-default" type="submit" value="add">Add</button>
                    </div>

                </form>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>


</body>
</html>